
		
{% extends 'Diabetes/base.html' %}


    {% block content %}
        
<div class="container">
    <img src="https://www.mdanderson.org/images/publications/cancerwise/D/CW-diabetes-iStock-1168613048.jpg" class="img-fluid" alt="Responsive image"> <br><br>
    <br>
    <h2>Што претставува Дијабетес?</h2>

    <p>
        Шеќерна болест или дијабетесе хронично системско пореметување на метаболизмот,кое се карактеризира со хипергликемија,
        т.е. трајно зголемување на нивото на глукоза во крвта. Генерално е условен од наследни фактори, а настанува како последица на
        намалено излачување или намалено биолошко дејство на хормонот инсулин, односно во комбинација на овие два фактори. Тој недостаток
        ја попречува размената на јаглени хидрати, масти и белковини во организмот (што се манифестира со карактеристични тегоби),
        а по подолго време влијае и на структурата и функцијата на крвните садови, нервите и другите витални органи и органски системи.
    </p>

  <h2>Луѓето кои страдаат од дијабетес, независно од кој тип, имаат покачени вредности на гликоза затоа што нивниот организам не може да ја пренесе гликозата во клетките. </h2>

    <p>
        <h4>Причини за тоа може да бидат:</h4>
        <ul>
            <li>Недоволна продукција на инсулин од страна на панкреасот</li>
            <li>Нарушена реакција на клетките кон инсулин</li>
            <li>И двете причини истовремено</li>
        </ul>
    </p>

    <h4>
        Етимологија на болеста
    </h4>
    <p>
        Метаболизам на глукозата
        Со обзир на тоа дека инсулинот е основен хормон кој го регулира влегувањето на глукозата од крвта во повеќето клетки (освен во централниот нервен систем), неговиот недостаток или намалениот сензибилитет на рецепторот за инсулин играат главна улога во настанокот на разни облици на шеќерна болест.

        Поголемиот дел од јаглените хидрати од храната во процесот на варење се претвора во моносахарид (прост шеќер) глукоза и во тој облик достигнува во крвта.
    </p>

    <h5>Статистиката е загрижувачка!</h5>

    <p>Загрижувачка е тенденцијата според која младото население, општо во светот, во просек ја зголемува својата телесна тежина, па со тоа станува се поподложно на оваа болест.</p>
    <img src="https://ik.imagekit.io/insiderx/InsideRx/Blog/Diabetes/Diabetes_Blog3_2x_c_3tSM5bU.png" class="img-fluid" alt="Responsive image" >
    <p>Бројот на лица со дијабетес во светот расте од година во година. Од 425 милиони во 2017 година, во 2018та бројот е пораснат на 463 милиони, односно, зголемен е за 38 милиони лица. Ова зголемување на бројот на лица со дијабетес е еднакво на бројот на жители во една голема европска држава како Полска, или повеќе од двојно повеќе од бројот на жители во земјите од Западен Балкан (Македонија, Србија, Албанија, Косово, Босна и Херцеговина и Црна Гора).</p>
    <p>Се проценува дека до 2045 година оваа бројка ќе надмине 700 милиони или секој деветти човек во светот ќе има дијабетес. Зголемената преваленца на дијабетес тип 2 е резултат на забрзаното темпо на урбанизација, стареењето на популацијата, зголемена телесна тежина, недоволна физичка активност и поголем внес на нездрава храна.</p>
    <p>10% од сите финансиски средства во здравството, на светско ниво, се трошат на оваа болест, а смртноста на годишно ниво се мери во милиони.</p>
    <p>Според заводот за статистика на Македонија, во 2006 година, бројот на заболени од дијабетес изнесувал 30 илјади, во 2016, над 120 илјади, а околу 40 илјади се зависни од инсулинска терапија. Моментално, ситуацијата завзема епидемиски размери, па така скоро секој 10ти човек во нашата земја боледува од оваа болест на ,,модерното време”.</p>
</div>


	{% endblock %}


