{% extends 'Diabetes/base.html' %}


{% block content %}

    <br>
    <h2>Зошто е важна исхраната при менаџирање со дијабетес?</h2>

    <br>
    <p>
        Еден од најголемите предизвици во менаџирањето на дијабетот како заболување е планирањето на оброците. Планот за исхрана треба да ја овозможи соодветната количина на калории за одржување на здрава телесна тежина.  Во колку се соочувате со ова заболување не значи дека комплетно треба да се откажете од храната, но секако да ги промените рутинските навики во хранењето. Соодветно и редовно мониторирање на нивото на шеќер во крвта дома или во соодветна институција ќе ви помогне да научите како одредени типови на храна влијаат врз нивото на шеќер во крвта.
    </p>
    <img src="https://assets.lybrate.com/imgs/product/kwds/diet-chart/Diet-Chart-For-Diabetic-Patient-v1.jpg" class="img-fluid" alt="Responsive image"> <br><br>

    <p>Основните правила во лекување на дијабетесот подразбираат адекватна исхрана: храната кратко термички се обработува (варење на пареа, барење, пржењето се избегнува) и се консумира свежо подготвена во 5-6 помали оброци, најдобро приближно во исто време. Заболените од дијабетес особено мораат да водат сметка за внесот на скроб, односно сложени јаглехидрати, држејќи се до начелото дека лажица брашно е исто што и лажица шеќер. Исто така, многу е важна вечерата за во текот на спиењето да не дојде до хипогликемија. Се подразбира дека секој дијабетичар за својата исхрана детално се консултира со лекар.
    </p>

    <p>
        <b>Месо, јајца и риба:</b> Риба треба да се јаде барем 2 пати во неделата, а од месо пилешко, телешко, говедско, јагнешко. Месото најдобро е да се бари со малку масло. Едно, најмногу две јајца се дозволени во неделата.
    </p>
    <p>
        <b>Млеко и млечни производи:</b>  Се препорачува обрано млеко, а јогурт и кисело млеко во помали количини, и тоа со низок процент на мсти, не повеќе од пола литар на ден, во зависност од тоа дали тој ден сте јаделе месо.
    </p>
    <p>
        <b> Супи и чорби:</b>  Треба да се подготвуваат од различни видови зеленчук, најдобро без маснотија и тестенини. Едноставното правило вели дека треба да се користи зеленчук во три бои (зелен, црвен, бел). Ако се вари со месо, задолжително од површината да се отстранува маснотијата.
    </p>
    <p>
        <b>Зеленчук:</b> На трпезата на дијабетичарите зеленчукот треба да биде најзастапен. Зеленчукот кој содржи помалку јаглехидрати може да се јаде во неограничени количини: зелје, спанаќ, блитва, боранија, тиквици, пиперки, домат, краставица, зелена салата, модар патлиџан, целер, магдонос, зелка, кељ, келераба, праз, лук, брокули и карфиол.
    </p>
    <p>
        <b>Овошје:</b> Се препорачува овошје кое содржи малку јаглехидрати: јагоди, малини, капини, боровинки, лубеница, рибизли, вишни, лимон, дињи, портокал, мандарини. Овошјето со најмногу јаглехидрати, јаболка, цреши, круши, грозје, банани, свежи смокви, ананас, манго, авокадо, треба да се избегнува.
    </p>
    <p>
        <b>Суво овошје:</b> Содржи 5 пати повеќе јаглехидрати од сировото овошје, па треба да се зема во ограничени количини, како и јаткастите плодови ореви, лешници, бадеми и друго.
    </p>
    <p>
        <b>Леб и тестенини:</b> Никогаш не треба да се јаде заедно леб и тестенина. Тестенините треба да се избегнуваат. Лебот да биде од интегрално брашно, и тоа со еден оброк тенко парче не потешко од 50 г.
    </p>
    <p>
        <b>Сол:</b>  Внесот на сол треба да се контролира.
    </p>
    <p>
        <b>Алкохол и кафе:</b>  Не се добри за дијабетичари. Кафето да се пие умерено, незасладено.
    </p>
    <p>
        <b>Безалкохолни пијалаци и сокови:</b>  Треба целосно да се елиминираат од исхраната, освен свежо цедени сокови од овошје со ниско ниво на јаглехидрати и од свеж зеленчук
    </p>

    <h3>За големината на порцијата</h3>
    <p>Големината на порцијата и големината на порцијата не се секогаш исти. Порција е количината на храна што ја избирате да јадете одеднаш, додека порција е одредена количина храна, како што е едно парче леб или 1 чаша млеко.</p>
    <p>Деновиве, порциите во рестораните се прилично поголеми отколку пред неколку години. Еден влез може да биде еднаков на 3 или 4 порции! Истражувањата покажуваат дека луѓето имаат тенденција да јадат повеќе кога им се сервира повеќе храна, така што ставањето под контрола на порциите е навистина важно за управување со тежината и шеќерот во крвта.</p>
    <p>Ако јадете надвор, завиткајте половина од оброкот за да можете да уживате подоцна. Дома, измерете ги грицките; не јадете директно од кесата или кутијата. За време на вечерата, намалете го искушението да се вратите назад со секунди, така што чиниите за сервирање ќе бидат подалеку од дофат. И со овој „практичен“ водич, секогаш ќе имате начин да ја процените големината на порцијата на дофат на раката:</p>
    <img src="">

    <h2> Испромај мени 7 дека со здрав оброк</h2>
    <h3>Ден 1</h3>
    <p> <ul>
    <li><b>Појадок:</b> 1 мафин од овес од кајсија (Овој линк се отвора во нов прозорец), 1 шолја (250 мл) млеко со малку маснотии (282 калории, 37 г јаглени хидрати, 2 г влакна)
    </li>
    <li><b>   Ручек: </b>2 шолји (500 мл) супа од црвена леќа (Овој линк се отвора во нов прозорец), зелена салата, 1 лажица (15 мл) лесен прелив за салата (432 калории, 59 г јаглени хидрати, 14 г влакна)
    </li>
    <li><b>   Вечера:</b> 1 порција тавче пилешки гради (Овој линк се отвора во нов прозорец), ¾ шолја (175 ml) печени слатки компири (направете дополнително за утрешниот ручек) (610 калории, 58 g јаглени хидрати, 10 g влакна)
    </li>
    </ul>
    </p>
    <h3>Ден 2</h3>
    <p> <ul>
    <li><b>Појадок:</b> омлет од 1 јајце со зеленчук (спанаќ, печурки или друг зеленчук по ваш избор), 2 парчиња тост од цело зрно, 2 лажици (30 мл) мек маргарин, ½ чаша (125 мл) млеко со малку маснотии (366 калории , 36 g јаглени хидрати, 4 g влакна)

    <li><b> Ручек:</b> 1 порција тофу фритата (Овој линк се отвора во нов прозорец), ¾ чаша (175 мл) преостанати печени слатки компири (435 калории, 49 гр јаглени хидрати, 7 гр влакна)

    <li><b>   Вечера:</b> 1 порција салата од печен карфиол (Овој линк се отвора во нов прозорец), 3-4 oz. (85-115 g) рифка од свинско филе на скара или печена, 1 чаша (250 mL) пире од компири (625 калории, 52 g јаглени хидрати, 7 g влакна)
</ul>
    </p>
    <h3>Ден 3</h3>
    <p> <ul>
    <li><b>   Појадок:</b> валани овес исечен со челик (⅓ чаша/75 мл сув), 1 лажица (15 мл) путер од кикирики додаден во варен овес, ½ чаша (125 мл) млеко со малку маснотии (324 калории, 37 г јаглени хидрати, 5 г влакна )

    <li><b>  Ручек:</b> 3 oz. (85 g) печено пилешко, 2 парчиња леб од цело зрно, 2 лажички (10 ml) мајонез, сенф, зелена салата, домат по желба, 1 овошје (на пример: јаболко со средна големина или мала банана) (428 калории, 59 g јаглени хидрати , 7 g влакна)

    <li><b>  Вечера: </b>1 порција бела риба (Овој линк се отвора во нов прозорец), зелена салата, 1 лажица (15 mL) лесен прелив за салата, ¾ чаша (175 mL) варен кускус (725 калории, 55 g јаглени хидрати, 13 g влакна)
</ul> </p>
    <h3>Ден 4</h3>
    <p> <ul>
    <li><b>  Појадок:</b> 2 парчиња тост од цело зрно или 'ржан, 1 јајце, пржено или на сонце (варено по ваш вкус), ¼ мало авокадо, пире, сол и бибер по вкус (293 калории, 33 g јаглени хидрати, 5 g влакна)

    <li><b>  Ручек:</b> 1 порција мексикански печени јајца на црн грав (Овој линк се отвора во нов прозорец), 1 парче леб од цело зрно, 2 лажички (10 мл) мек маргарин, ½ чаша (125 мл) јогурт со малку маснотии (454 калории, 57 g јаглени хидрати, 9 g влакна)

    <li><b>   Вечера:</b> 1 чаша (250 мл варени тестенини (на пример: шпагети, спирали, макарони), ½ шолја (125 мл) омилен сос од тестенини, 3-4 мл (85-115 г) пилешко на скара или печено (405 калории, 51 г. јаглехидрати, 4 g влакна)
</ul>  </p>
    <h3>Ден 5</h3>
    <p> <ul>
    <li><b>  Појадок:</b> валани овес исечен со челик (⅓ чаша/75 мл сув), 1 лажица (15 мл) путер од кикирики додаден во варен овес, ½ чаша (125 мл) млеко со малку маснотии (324 калории, 37 г јаглени хидрати, 5 г влакна )

    <li><b>  Ручек:</b> 3 oz. (85 g) туна спакувана во вода, исцедена, 1 интегрална пита (6 инчи/15 см), 2 лажички (10 мл) мајонез, зелена салата, домат или друг зеленчук по желба, 1 овошје (на пример: средна големина јаболко или мала банана) (410 калории, 50 g јаглени хидрати, 8 g влакна)

    <li><b>    Вечера: </b>1 порција печен лосос во рерна (Овој линк се отвора во нов прозорец), ¾ шолја (175 ml) пире од сладок компир, брокула, парен или печен (547 калории, 53 g јаглени хидрати, 8 g влакна)
</ul>  </p>
    <h3>Ден 6</h3>
    <p> <ul>
    <li><b>   Појадок:</b> омлет од 1 јајце со зеленчук (спанаќ, печурки или друг зеленчук по ваш избор), 2 парчиња тост од цело зрно, 2 лажици (30 мл) мек маргарин, ½ чаша (125 мл) млеко со малку маснотии (366 калории , 36 g јаглени хидрати, 4 g влакна)

    <li><b>   Ручек:</b> 1 порција чинија Буда (Овој линк се отвора во нов прозорец), 1 овошје (на пример: јаболко со средна големина или мала банана) (440 калории, 55 g јаглени хидрати, 12 g влакна)

    <li><b>   Вечера:</b> 1 чаша (250 мл) пилаф со спанаќ (Овој линк се отвора во нов прозорец), 3-4 мл. (85-115 g) пилешко на скара или печено (440 калории, 48 g јаглени хидрати, 8 g влакна)
</ul>   </p>
    <h3>Ден 7</h3>
    <p> <ul>
    <li><b>    Појадок:</b> валани овес исечен на челик (⅓ чаша/75 мл сув), 1 лажица путер од кикирики додаден во варен овес, ½ чаша (125 мл) млеко со малку маснотии (324 калории, 37 гр јаглени хидрати, 5 гр влакна)

    <li><b>   Ручек:</b> зелена салата (марула, краставица, домат) со 85 гр. јогурт, 1 овошје (на пример: јаболко со средна големина или мала банана) (435 калории, 49 g јаглени хидрати, 5 g влакна)

    <li><b>   Вечера:</b> 1 порција чорба од пилешко и бел грав (Овој линк се отвора во нов прозорец), 2 мл. (55 g) леб или ролат од цели зрна (450 калории, 52 g јаглени хидрати, 10 g влакна)
</ul> </p>
    <h3>Опции за ужина</h3>
    <p>
        Секоја од следните опции обезбедува приближно 15 g јаглени хидрати и 100-150 калории. Вклучете една од овие закуски дневно:
        <ul>
    <li>1 овошје со средна големина (јаболко или портокал)</li>
    <li>1 чаша (250 мл) диња или бобинки</li>
    <li> ½ чаша (125 мл) јогурт со малку маснотии со ½ чаша (125 мл) бобинки</li>
    <li> 3 чаши (750 мл) пуканки</li>
    <li>1 парче леб со путер од кикирики</li>
    <li>5-6 крекери со 2 лажици (30 мл) хумус</li>
</ul>
    </p>

</div>


{% endblock %}