{% extends 'Diabetes/base.html' %}


{% block content %}

<!-- 		
		<h1>Измери</h1>

<ul>
	{% for izmerii in izmeri_list %}

		<li>{{izmerii.level}} {{izmerii.date}}</li>

	{% endfor %}
</ul>

<form method="POST">

	{% csrf_token %}
	{{form.as_p}}
	<button type="submit" class="btn btn-success">Внеси</button>
</form>
<img src="https://thumbs.dreamstime.com/b/cute-blood-characters-glucose-measuring-device-your-commercial-project-others-169476529.jpg">
 -->



    <div class="row mb-3">

        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Измери</h3>


		            <form method="POST">

						{% csrf_token %}
						{{form.as_p}}
						<button type="submit" class="btn btn-success">Внеси</button>
					</form>

            </div>
        </div>
        <div class="col p-lg-3" >
		    <ul>
		    	<br><br>
		    	<h3>Историјат на глукоза</h3> <br>
			{% for izmerii in izmeri_list %}

				<li>{{izmerii.level}} {{izmerii.date}}</li>

			{% endfor %}
			</ul>

        </div>

    </div>


{% endblock %}