{% extends 'Diabetes/base.html' %}


{% block content %}


  <br><br>


    <div class="row mb-3">
        <div class="col">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-02/speed-walking-main-jc-220218-cd1560.jpg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Пешачење</h3>

                <p class="card-text text-start">
                    Тоа е едноставен начин за вежбање и свеж воздух. Може да го намали и вашиот стрес. Брзата прошетка од 30 минути до еден час 3 или 4 пати неделно е еден начин да ја погодите целта. Лесно е да започнете: одете со Фидо низ соседството или пешачете до продавница наместо да возите.
                    Откако ќе ја претворите во навика, може да биде наградно - и мотивирачко - да ги следите вашите чекори и вашиот напредок.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://media.istockphoto.com/photos/senior-couple-dancing-at-home-picture-id1314773380?b=1&k=20&m=1314773380&s=170667a&w=0&h=TNrKTdsLM-yJTQYoMxXQJhoLlxsWvvpqAT38d11UX48=" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Танцување</h3>


                <p class="card-text text-start">
                    Ова може да биде забавен начин за вежбање. Само тресете го вашиот жлеб 25 минути, 3 дена во неделата за да му помогнете на срцето, да го намалите шеќерот во крвта,
                    да го намалите нивото на стрес и да согорите калории. Не ви треба ниту партнер за да започнете. Столот може да биде добра поддршка ако ви треба.
                </p>

            </div>
        </div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://media.istockphoto.com/photos/female-swimmer-at-the-swimming-pool-picture-id465383082?k=20&m=465383082&s=612x612&w=0&h=7-2QQyWP_ap8XzUqsVmwvZ6lwmUYxqCbpHMPyScEQwc=" style="width:500px">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Пливање</h3>

                <p class="card-text text-start">
                    Ова е една аеробна вежба која не ги оптоварува вашите зглобови како другите. Исто така, ви овозможува да работите со мускулите во горниот и долниот дел од телото во исто време. Удирањето во вода е добро и за вашето срце.
                    Исто така, може да го намали холестеролот и да ви помогне да согорите сериозни калории. Ако е на должност спасител, кажете му дека имате дијабетес.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://cdn.britannica.com/63/82563-050-3FCFC72A/Family-country-road.jpg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Велосипедизам</h3>


                <p class="card-text text-start">
                    Борбата со дијабетесот може да биде лесна како возење велосипед. Без разлика дали користите стационарна или трчате на пат, 30 минути на ден 3 до 5 пати
                    неделно може да го забрзаат пулсот, да го согорите шеќерот во крвта и да ви помогне да изгубите тежина без да ги повредите колената или другите зглобови.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://marathonhandbook.com/wp-content/uploads/2022/05/Benefits-Of-Climbing-Stairs-4.jpg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Качување скалила</h3>


                <p class="card-text text-start">
                    Ова може да биде здрав и лесен начин за согорување на калории и за побрзо работење на срцето и белите дробови, особено ако имате дијабетес тип 2. Качувањето и симнувањето по скали 3 минути околу еден час или два по оброкот
                    е добар начин за согорување на шеќерот во крвта. Можете да го направите секаде каде што има скали, како кога ви треба одмор од работа.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://cdn-boagg.nitrocdn.com/kyBgMNgMSXfIcvHHOVuMklvEkqIahncX/assets/static/optimized/rev-6d9230b/nevertoooldtolift.com/wp-content/uploads/2018/10/d71265730471d36105d7f50b25bf745a.Old-Man-Lifting-e1540631387178.jpg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Тренинг за сила</h3>

                <p class="card-text text-start">
                    Ова го правите со слободни тежини или ленти за отпор. Може да го намали шеќерот во крвта и да ви помогне да ги зајакнете мускулите и коските. Ќе го извлечете максимумот од тоа ако го правите двапати неделно покрај вашите аеробни работи.
                    Можете да правите многу од овие вежби дома, како што се:
                    <ul>
                <li>
                    Подигнување на конзервирана стока или шишиња со вода
                </li>
                <li>Склекови</li>
                <li>Стомачни вежби</li>
                <li>Сквотови</li>
            </ul>
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://bf.kendal.org/wp-content/uploads/sites/13/2020/06/AdobeStock_83987702-scaled-e1592924721859.jpeg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Градинарство</h3>

                <p class="card-text text-start">
                    Ако идејата за традиционално вежбање не е за вас, не грижете се. Времето во вашата градина се брои и како аеробна активност и како тренинг за сила. Тоа ви дава крв (бидејќи одите, клекнувате и се наведнувате).
                    Исто така, гради мускули и им помага на вашите коски (бидејќи копате, кревате и гребете). Вие сте и надвор, каде што нивото на стрес може да биде помало.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://femina.wwmindia.com/content/2021/apr/yogashutterstock12238846961617712476.jpg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Јога</h3>

                <p class="card-text text-start">
                    Работи околу 5.000 години како вежба со мал удар што може да ве направи посилни и пофлексибилни. Јогата исто така може да помогне во рамнотежата. Движењата, позите и фокусирањето на
                    дишењето исто така може да го намалат стресот и да помогнат во градењето мускули. Тоа може да го одржи нивото на шеќер во крвта постабилно.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">
    <div class="row mb-3">
        <div class="col">
            <img src="https://images.wisegeek.com/group-of-women-performing-tai-chi-on-grass.jpg" style="width:500px;">
        </div>
        <div class="col p-lg-3">
            <div class="card-body">
                <h3 class="card-title">Таи Чи</h3>


                <p class="card-text text-start">
                    Оваа древна кинеска уметност користи бавни, контролирани движења -- заедно со визуелизација и длабоко дишење -- за да изгради сила. Може да помогне и во мобилноста, рамнотежата и флексибилноста.
                    Оваа нежна вежба може да го намали и нивото на стрес. Исто така, може да помогне да се спречи оштетување на нервите во вашите стапала.
                </p>

            </div></div>
    </div>

    <hr class=" mx-auto border border-dark">


{% endblock %}